@charset "UTF-8";
.containerHeader {
  background-image: url(../assets/images/info@molasymolasseguros.com.png);
  object-fit: cover;
  background-size: cover;
  width: 100%;
  height: 730px; }
  .containerHeader__logoIndex {
    padding-left: 30px;
    padding-top: 40px; }
  .containerHeader--a {
    padding-right: 30px !important;
    color: rgba(0, 0, 0, 0.7) !important;
    font-size: 1.10rem; }
  .containerHeader--a:hover {
    font-weight: 600; }

.nosotros {
  background-image: url(../assets/images/businesspeople-shaking-hands.jpg); }

.navbar__iconNosotros {
  color: #f8f7dea2;
  background: rgba(0, 0, 0, 0.233);
  font-size: 25px; }

.productos {
  background-image: url(../assets/images/family-moving-and-using-boxes.jpg); }

.cotizador {
  background-image: url(../assets/images/closeup-of-male-candidate-filling-in-application-form.jpg); }

.contacto {
  background-image: url(../assets/images/business-hand-with-mobile-phone.jpg); }

.siniestro {
  background-image: url(../assets/images/insurance-agent-working-during-on-site-car-accident-claim-process-people-and-car-insurance-claim.jpg); }

.section {
  padding-top: 30px; }

.div__btn {
  margin-left: 20px;
  width: 50px;
  height: 30px; }

.card__cardbody--h5 {
  width: 200px; }

.carousel-item__img {
  width: 100%;
  height: 600px;
  object-fit: cover; }

.container__row--strong {
  color: #0ad1e5;
  font-style: italic;
  font-weight: 400; }

.gris {
  color: rgba(128, 128, 128, 0.74);
  font-weight: 400;
  font-style: italic; }

.row__formCoti--textArea {
  overflow: scroll;
  width: 50%;
  height: 300px; }

.formCotizador__select {
  color: rgba(0, 0, 0, 0.8); }

.row__formContacto--textArea {
  overflow: scroll; }

.formContacto {
  border: 3px solid rgba(0, 0, 0, 0.15);
  padding: 50px 50px; }

.form__input {
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 3px solid rgba(12, 12, 12, 0.733);
  background: transparent;
  color: black;
  min-height: 40px;
  font-size: 18px; }

.form__input:focus {
  background: linear-gradient(to bottom, white, #e6e9e67a);
  outline: none; }

.form__textArea {
  height: 200px;
  margin-bottom: 30px; }

.sectionContacto__h5 {
  color: rgba(128, 128, 128, 0.74); }

.logos {
  border: 2px solid black;
  padding: 10px;
  margin: 20px; }

.companias__logos--img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  padding: 10px;
  margin: 15px; }

.logos__companias {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 100px;
  padding-top: 10px;
  border-top: 3px solid rgba(0, 0, 0, 0.3); }
  .logos__companias img {
    object-fit: scale-down;
    padding: 0 25px;
    margin: 0 25px;
    flex-basis: 100px; }

.azul {
  color: #125D98; }

.italic {
  font-style: italic; }

.footer {
  position: fixed;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.699);
  border-top: 2px solid rgba(0, 0, 0, 0.15); }
  .footer__redesFooter--i {
    font-size: 25px;
    color: rgba(0, 0, 0, 0.644); }
    .footer__redesFooter--i:hover {
      color: rgba(0, 0, 0, 0.85); }

.diseño__h6 {
  font-size: 12px;
  color: #125D98; }

.disenio__desarrollo {
  align-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  text-align: center;
  background-color: whitesmoke;
  margin-bottom: 5px;
  border-top: 2px solid rgba(0, 0, 0, 0.15); }

body {
  background-color: white;
  color: black; }

/* @media all and (max-width:1088px){
    .containerHeader--a i{
        display: none;
    }
    .disenio__desarrollo{
        margin-bottom: 10px;
    }
    
}

@media all and(max-width:838px){
    .padding{
        padding-bottom: 15px;
    }
    .footerSticky{
        font-size: 15px;
    }
    .img__ssn{
        display: none;
    }
    .disenio{
        margin-bottom: 25px;
    }
}

*/
@media all and (max-width: 767px) {
  .containerHeader {
    background-image: url(../assets/images/fondos_mobile/hogar.png);
    object-fit: scale-down;
    height: 800px; }
    .containerHeader__logoIndex {
      padding-top: 20px;
      padding-left: 10px; }
      .containerHeader__logoIndex img {
        width: 120px;
        height: 75px;
        object-fit: scale-down; }
  .nosotros {
    background-image: url(../assets/images/fondos_mobile/manos_agarradas.jpg); }
  .productos {
    background-image: url(../assets/images/fondos_mobile/productos_mobile.jpg); }
  .cotizador {
    background-image: url(../assets/images/fondos_mobile/coti.jpg); }
  .siniestro {
    background-image: url(../assets/images/fondos_mobile/siniestro_mobile.jpg); }
  .contacto {
    background-image: url(../assets/images/fondos_mobile/contact.jpg); }
  .disenio__desarrollo {
    justify-content: center;
    margin-bottom: 30px; }
    .disenio__desarrollo div {
      margin-bottom: 4px; }
    .disenio__desarrollo img {
      width: 80px;
      height: 40px; }
  .footer {
    justify-content: center; }
    .footer h6 {
      font-size: 14px; }
    .footer .redesFooter {
      text-align: center !important;
      margin-top: 10px;
      margin-left: 15px; }
  .logos__companias img {
    flex-basis: 35px; } }
