.footer{
    position:fixed;
    bottom:0;
    background-color:rgba(255, 255, 255, 0.699);
    &__redesFooter--i{
        font-size: 30px;
        color:rgba(0, 0, 0, 0.644);
        &:hover{
            color:rgba(0, 0, 0, 0.85);
        }
    }
}

.diseño__h6{
    font-size:12px;
    color:#125D98;
}
.disenio__desarrollo{
    align-content: center;
    justify-content:space-between;
    align-items: center;
    padding:20px 60px;
    text-align: center;
    background-color: whitesmoke;
    margin-bottom: 5px;
}

