@media all and (max-width:1088px){
    .containerHeader--a i{
        display: none;
    }
    
}

@media all and(max-width:838px){
    .padding{
        padding-bottom: 15px;
    }
    .footerSticky{
        font-size: 15px;
    }
}