@media all and(max-width:992px){ //tablets
    .footer{
        position: relative;
        bottom: 25px;

        h6{
            font-size: 14px;  
        }
    }

    #navbarNav{
        background-color:rgba(255, 255, 255, 0.699);
        border-radius: 5px;
        padding: 10px;
        margin-top: 10px;
    }

}

@media all and(max-width:767px){ //mobiles
    
    .containerHeader{
        background-image: url(../assets/images/fondos_mobile/hogar.png);
        object-fit:scale-down;
        height: 800px;
        &__logoIndex{
            padding-top: 20px;
            padding-left: 10px;
            img{
            width:120px;
            height: 75px;
            object-fit:scale-down;
            }
        }
    }

    .nosotros{
        background-image: url(../assets/images/fondos_mobile/manos_agarradas.jpg);
    }

    .productos{
        background-image: url(../assets/images/fondos_mobile/productos_mobile.jpg);
    }

    .cotizador{
        background-image: url(../assets/images/fondos_mobile/cotizador__mobile.jpg);
    }

    .siniestro{
        background-image: url(../assets/images/fondos_mobile/siniestro_mobile.jpg);
    }

    .contacto{
        background-image: url(../assets/images/fondos_mobile/contact.jpg);
    }
    .disenio__desarrollo{
        justify-content: center;
        margin-bottom: 30px;
        div{
            margin-bottom: 4px;
        }
       img{
           width:80px;
           height: 40px;
       }
    }
    
    .footer{
        justify-content: center;
        
        h6{
            font-size: 14px;
        }
        .redesFooter{
            text-align: center!important;
            margin-top: 10px;
            margin-left: 15px;
            margin-right: 15px;
            padding: 0!important;
        }
    }
    .footer__redesFooter--i{
        font-size: 25px;
    }

    .logos__companias{
        img{
            flex-basis: 35px;
        }
    }

    .footer__info{
        justify-content: space-between;
    }
    #navbarNav{
        background-color:rgba(255, 255, 255, 0.699);
        border-radius: 5px;
        padding: 10px;
        margin-top: 20px;
    }
}



