/* @media all and (max-width:1088px){
    .containerHeader--a i{
        display: none;
    }
    .disenio__desarrollo{
        margin-bottom: 10px;
    }
    
}

@media all and(max-width:838px){
    .padding{
        padding-bottom: 15px;
    }
    .footerSticky{
        font-size: 15px;
    }
    .img__ssn{
        display: none;
    }
    .disenio{
        margin-bottom: 25px;
    }
}

*/

@media all and(max-width:992px){ //tablets
    
}

@media all and(max-width:767px){ //mobiles
    .containerHeader__logoIndex{
        img{
        width:120px;
        height: 75px;
        object-fit:scale-down;
        }
    }
    .containerHeader{
        background-image: url(../assets/images/fondos_mobile/hogar.png);
        object-fit:scale-down;
        height: 800px;
        &__logoIndex{
            padding-top: 20px;
            padding-left: 10px;
            img{
            width:120px;
            height: 75px;
            object-fit:scale-down;
            }
        }
    }
    .disenio__desarrollo{
        justify-content: center;
        margin-bottom: 30px;
        div{
            margin-bottom: 4px;
        }
       img{
           width:80px;
           height: 40px;
       }
    }
    
    .footer{
        justify-content: center;
        
        h6{
            font-size: 14px;
        }
        .redesFooter{
            text-align: center !important ;
            margin-top: 10px;
            margin-left: 15px;
        }
    }
}



